body {
    background-color: rgb(131 163 209 / 25%);
    color: #333;
    line-height: 1.6;
  }
  h1 {
    text-align: center;
    font-size: 60 px;
    margin-bottom:10 px;
    margin-top: 50 px;
  }
   h2 {
     text-align: center;
     font-size: 24 px;
     margin-bottom: 30 px;
     margin-top: 0 px;
   }
  main {
    waidth: 900 px;
    margin: 0 auto;
  }
  section{
  margin-bottom: 50 px;
  }

  section > h2 {
  padding-bottom: 0 ;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  }
  li {
   margin-bottom: 10 px; 
  }
  ul {
    margin-bottom: 10 px;
  }




