body {font-family: sans-serif; 
line-height: 1.5;
background-color: azure;
color: #333333;
width: 980 px; margin: 0 auto;}
h1 {
  text-align: center;
  font-size: 36 px;
  margin-bottom: 0;
}
 h2 {
   text-align: center;
      font-size: 24 px;
      margin-bottom: 0;
 }
